# JSON Mini-Project

In [1]:
# imported necessary libraries and packages

import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

### Read in JSON data file and examine data

In [2]:
# used pd.read_json() to read in json file as a dataframe; looked at first 5 entries of df

df = pd.read_json('data/world_bank_projects.json')
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{u'$oid': u'52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{u'Percent': 46, u'Name': u'Regional integrati...","[{u'code': u'47', u'name': u'Regional integrat...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{u'$oid': u'52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{u'Percent': 50, u'Name': u'Participation and ...","[{u'code': u'57', u'name': u'Participation and...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{u'$oid': u'52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Export development...","[{u'code': u'45', u'name': u'Export developmen...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [3]:
# looked at shape of dataframe

df.shape

(500, 50)

In [4]:
# used df.columns to look at all column headings

df.columns

Index([u'_id', u'approvalfy', u'board_approval_month', u'boardapprovaldate',
       u'borrower', u'closingdate', u'country_namecode', u'countrycode',
       u'countryname', u'countryshortname', u'docty',
       u'envassesmentcategorycode', u'grantamt', u'ibrdcommamt', u'id',
       u'idacommamt', u'impagency', u'lendinginstr', u'lendinginstrtype',
       u'lendprojectcost', u'majorsector_percent', u'mjsector_namecode',
       u'mjtheme', u'mjtheme_namecode', u'mjthemecode', u'prodline',
       u'prodlinetext', u'productlinetype', u'project_abstract',
       u'project_name', u'projectdocs', u'projectfinancialtype',
       u'projectstatusdisplay', u'regionname', u'sector', u'sector1',
       u'sector2', u'sector3', u'sector4', u'sector_namecode', u'sectorcode',
       u'source', u'status', u'supplementprojectflg', u'theme1',
       u'theme_namecode', u'themecode', u'totalamt', u'totalcommamt', u'url'],
      dtype='object')

# 1. Find the 10 countries with most projects

In [5]:
# used df.groupby on 'countryname' column to count which countries had most project entries
# created dataframe top_10_countries to list the countries with most projects and the number of projects they had

count_of_projects = df.groupby('countryname').size().sort_values(ascending=False).head(10)
top_10_countries = pd.DataFrame({'number_of_projects' : count_of_projects}).reset_index()
top_10_countries

                       countryname  number_of_projects
0       People's Republic of China                  19
1            Republic of Indonesia                  19
2    Socialist Republic of Vietnam                  17
3                Republic of India                  16
4                Republic of Yemen                  13
5                            Nepal                  12
6  People's Republic of Bangladesh                  12
7               Kingdom of Morocco                  12
8                           Africa                  11
9           Republic of Mozambique                  11

# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [6]:
# loaded in json file as a string called data
# used json_normalize to normalize 'mjtheme_namecode' column

data = json.load((open('data/world_bank_projects.json')))
project_mjthemes = json_normalize(data, 'mjtheme_namecode', 'countryname')
project_mjthemes.head()

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu

In [14]:
# used groupby() to count number of occurrences of each major project theme
# created dataframe listing name of each project theme and the number of times it occurred

count_of_themes = project_mjthemes.groupby(['name']).size()
count_of_themes = count_of_themes.sort_values(ascending=False).head(10)
top_10_themes = pd.DataFrame({'number_of_projects' : count_of_themes}).reset_index()
top_10_themes

                                           name  number_of_projects
0  Environment and natural resources management                 223
1                             Rural development                 202
2                             Human development                 197
3                      Public sector governance                 184
4         Social protection and risk management                 158
5      Financial and private sector development                 130
6                                                               122
7                   Social dev/gender/inclusion                 119
8                         Trade and integration                  72
9                             Urban development                  47

In [8]:
mjtheme_dict = {'1':'Economic management', 
                '2':'Public sector governance', 
                '3':'Rule of law', 
                '4':'Financial and private sector development',
                '5':'Trade and integration',
                '6':'Social protection and risk management',
                '7':'Social dev/gender/inclusion',
                '8':'Human development',
                '9':'Urban development',
                '10':'Rural development',
                '11':'Environment and natural resources management'}

# 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [10]:
# used df.replace() to fill in empty values with np.NaN
# used fillna and the mjtheme_dict and to fill in NaN values with map() 

df = project_mjthemes
df = df.replace("", np.NaN)
df.name = df.name.fillna(df.code.map(mjtheme_dict))
df

,code,name,countryname
0,8,Human development,Federal Democratic Republic of Ethiopia
1,11,Environment and natural resources management,Federal Democratic Republic of Ethiopia
2,1,Economic management,Republic of Tunisia
3,6,Social protection and risk management,Republic of Tunisia
4,5,Trade and integration,Tuvalu
5,2,Public sector governance,Tuvalu
6,11,Environment and natural resources management,Tuvalu
7,6,Social protection and risk management,Tuvalu
8,7,Social dev/gender/inclusion,Republic of Yemen
9,7,Social dev/gender/inclusion,Republic of Yemen
10,5,Trade and integration,Kingdom of Lesotho
11,4,Financial and private sector development,Kingdom of Lesotho
12,6,Social protection and risk management,Republic of Kenya
13,6,Social protection and risk management,Republic of Kenya
14,2,Public sector governance,Republic of India
15,4,Financial and private sector development,Republic of India
16,11,Environment and natural resources management,People's Republic of China
17,8,Human development,People's Republic of China
18,10,Rural development,Republic of India
19,7,Social dev/gender/inclusion,Republic of India
20,2,Public sector governance,Kingdom of Morocco
21,2,Public sector governance,Kingdom of Morocco
22,2,Public sector governance,Kingdom of Morocco
23,10,Rural development,Republic of South Sudan
24,2,Public sector governance,Republic of South Sudan
25,10,Rural development,Republic of India
26,6,Social protection and risk management,Republic of India
27,6,Social protection and risk management,Republic of India
28,11,Environment and natural resources management,Republic of India
29,4,Financial and private sector development,Republic of Ghana
...,...,...,...
1469,8,Human development,Federative Republic of Brazil
1470,9,Urban development,The Independent State of Papua New Guine
1471,6,Social protection and risk management,The Independent State of Papua New Guine
1472,6,Social protection and risk management,The Independent State of Papua New Guine
1473,9,Urban development,The Independent State of Papua New Guine
1474,2,Public sector governance,Nepal
1475,2,Public sector governance,Nepal
1476,10,Rural development,West Bank and Gaza
1477,11,Environment and natural resources management,West Bank and Gaza
1478,8,Human development,Islamic Republic of Pakistan
1479,7,Social dev/gender/inclusion,Islamic Republic of Pakistan
1480,11,Environment and natural resources management,People's Republic of Bangladesh
1481,5,Trade and integration,People's Republic of Bangladesh
1482,6,Social protection and risk management,Nepal
1483,8,Human development,Nepal
1484,4,Financial and private sector development,Jamaica
1485,7,Social dev/gender/inclusion,Jamaica
1486,8,Human development,Lao People's Democratic Republic
1487,5,Trade and integration,Lao People's Democratic Republic
1488,2,Public sector governance,Lao People's Democratic Republic
1489,8,Human development,Lao People's Democratic Republic
1490,10,Rural development,Republic of Guinea
1491,6,Social protection and risk management,Republic of Guinea
1492,10,Rural development,Republic of Indonesia
1493,10,Rural development,Republic of Indonesia
1494,10,Rural development,Republic of Indonesia
1495,9,Urban development,Republic of Kenya
1496,8,Human development,Republic of Kenya
1497,5,Trade and integration,Republic of Kenya
1498,4,Financial and private sector development,Republic of Kenya