# XML Mini-Project

In [1]:
# import ElementTree as ET
# import pandas as pd
# import numpy as np

from xml.etree import ElementTree as ET
import pandas as pd
import numpy as np

In [2]:
# read in xml file using ET.parse()

document_tree = ET.parse('./data/mondial_database.xml')
root = document_tree.getroot()

In [3]:
# examine all elements in one root element of the tree

list(root[1].iter())

[<Element 'country' at 0x9773b38>,
 <Element 'name' at 0x9773ba8>,
 <Element 'localname' at 0x9773be0>,
 <Element 'population' at 0x9773c18>,
 <Element 'population' at 0x9773c50>,
 <Element 'population' at 0x9773c88>,
 <Element 'population' at 0x9773cc0>,
 <Element 'population' at 0x9773cf8>,
 <Element 'population' at 0x9773d30>,
 <Element 'population' at 0x9773d68>,
 <Element 'population' at 0x9773da0>,
 <Element 'population' at 0x9773dd8>,
 <Element 'population' at 0x9773e10>,
 <Element 'population' at 0x9773e48>,
 <Element 'population' at 0x9773e80>,
 <Element 'population' at 0x9773eb8>,
 <Element 'population' at 0x9773ef0>,
 <Element 'population' at 0x9773f28>,
 <Element 'population_growth' at 0x9773f60>,
 <Element 'infant_mortality' at 0x9773f98>,
 <Element 'gdp_total' at 0x9773fd0>,
 <Element 'gdp_agri' at 0x9926048>,
 <Element 'gdp_ind' at 0x9926080>,
 <Element 'gdp_serv' at 0x99260b8>,
 <Element 'inflation' at 0x99260f0>,
 <Element 'unemployment' at 0x9926128>,
 <Element 'indep_date' at 0x9926160>,
 <Element 'government' at 0x9926198>,
 <Element 'encompassed' at 0x9926208>,
 <Element 'ethnicgroup' at 0x9926240>,
 <Element 'religion' at 0x9926278>,
 <Element 'religion' at 0x99262e8>,
 <Element 'language' at 0x9926320>,
 <Element 'border' at 0x9926358>,
 <Element 'border' at 0x9926390>,
 <Element 'border' at 0x99263c8>,
 <Element 'border' at 0x9926400>,
 <Element 'province' at 0x9926438>,
 <Element 'name' at 0x99264a8>,
 <Element 'localname' at 0x99264e0>,
 <Element 'area' at 0x9926518>,
 <Element 'population' at 0x9926550>,
 <Element 'population' at 0x9926588>,
 <Element 'population' at 0x99265c0>,
 <Element 'population' at 0x99265f8>,
 <Element 'city' at 0x9926630>,
 <Element 'name' at 0x99266a0>,
 <Element 'city' at 0x99266d8>,
 <Element 'name' at 0x9926710>,
 <Element 'population' at 0x9926748>,
 <Element 'population' at 0x9926780>,
 <Element 'population' at 0x99267b8>,
 <Element 'population' at 0x99267f0>,
 <Element 'located_at' at 0x9926828>,
 <Element 'province' at 0x9926860>,
 <Element 'name' at 0x99268d0>,
 <Element 'localname' at 0x9926908>,
 <Element 'area' at 0x9926940>,
 <Element 'population' at 0x9926978>,
 <Element 'population' at 0x99269b0>,
 <Element 'population' at 0x99269e8>,
 <Element 'population' at 0x9926a20>,
 <Element 'city' at 0x9926a58>,
 <Element 'name' at 0x9926ac8>,
 <Element 'localname' at 0x9926b00>,
 <Element 'latitude' at 0x9926b38>,
 <Element 'longitude' at 0x9926b70>,
 <Element 'population' at 0x9926ba8>,
 <Element 'population' at 0x9926be0>,
 <Element 'population' at 0x9926c18>,
 <Element 'population' at 0x9926c50>,
 <Element 'located_at' at 0x9926c88>,
 <Element 'city' at 0x9926cc0>,
 <Element 'name' at 0x9926cf8>,
 <Element 'name' at 0x9926d30>,
 <Element 'localname' at 0x9926d68>,
 <Element 'population' at 0x9926da0>,
 <Element 'population' at 0x9926dd8>,
 <Element 'population' at 0x9926e10>,
 <Element 'population' at 0x9926e48>,
 <Element 'located_at' at 0x9926e80>,
 <Element 'city' at 0x9926eb8>,
 <Element 'name' at 0x9926f28>,
 <Element 'localname' at 0x9926f60>,
 <Element 'population' at 0x9926f98>,
 <Element 'population' at 0x9926fd0>,
 <Element 'population' at 0x9933048>,
 <Element 'city' at 0x9933080>,
 <Element 'name' at 0x99330f0>,
 <Element 'localname' at 0x9933128>,
 <Element 'population' at 0x9933160>,
 <Element 'population' at 0x9933198>,
 <Element 'population' at 0x99331d0>,
 <Element 'province' at 0x9933208>,
 <Element 'name' at 0x9933240>,
 <Element 'localname' at 0x9933278>,
 <Element 'area' at 0x99332b0>,
 <Element 'population' at 0x99332e8>,
 <Element 'population' at 0x9933320>,
 <Element 'population' at 0x9933358>,
 <Element 'population' at 0x9933390>,
 <Element 'city' at 0x99333c8>,
 <Element 'name' at 0x9933400>,
 <Element 'name' at 0x9933438>,
 <Element 'localname' at 0x9933470>,
 <Element 'population' at 0x99334a8>,
 <Element 'population' at 0x99334e0>,
 <Element 'population' at 0x9933518>,
 <Element 'population' at 0x9933550>,
 <Element 'located_at' at 0x9933588>,
 <Element 'province' at 0x99335c0>,
 <Element 'name' at 0x9933630>,
 <Element 'localname' at 0x99336a0>,
 <Element 'area' at 0x99336d8>,
 <Element 'population' at 0x9933710>,
 <Element 'population' at 0x9933748>,
 <Element 'population' at 0x9933780>,
 <Element 'population' at 0x99337b8>,
 <Element 'city' at 0x99337f0>,
 <Element 'name' at 0x9933860>,
 <Element 'province' at 0x9933898>,
 <Element 'name' at 0x9933908>,
 <Element 'localname' at 0x9933940>,
 <Element 'area' at 0x9933978>,
 <Element 'population' at 0x99339b0>,
 <Element 'population' at 0x99339e8>,
 <Element 'population' at 0x9933a20>,
 <Element 'population' at 0x9933a58>,
 <Element 'city' at 0x9933a90>,
 <Element 'name' at 0x9933b00>,
 <Element 'name' at 0x9933b38>,
 <Element 'localname' at 0x9933b70>,
 <Element 'population' at 0x9933ba8>,
 <Element 'population' at 0x9933be0>,
 <Element 'population' at 0x9933c18>,
 <Element 'located_at' at 0x9933c50>,
 <Element 'located_on' at 0x9933c88>,
 <Element 'province' at 0x9933cc0>,
 <Element 'name' at 0x9933d30>,
 <Element 'localname' at 0x9933d68>,
 <Element 'area' at 0x9933da0>,
 <Element 'population' at 0x9933dd8>,
 <Element 'population' at 0x9933e10>,
 <Element 'population' at 0x9933e48>,
 <Element 'city' at 0x9933e80>,
 <Element 'name' at 0x9933ef0>,
 <Element 'localname' at 0x9933f28>,
 <Element 'population' at 0x9933f60>,
 <Element 'population' at 0x9933f98>,
 <Element 'population' at 0x9933fd0>,
 <Element 'province' at 0x9940048>,
 <Element 'name' at 0x99400b8>,
 <Element 'localname' at 0x9940128>,
 <Element 'area' at 0x9940160>,
 <Element 'population' at 0x9940198>,
 <Element 'population' at 0x99401d0>,
 <Element 'population' at 0x9940208>,
 <Element 'population' at 0x9940240>,
 <Element 'city' at 0x9940278>,
 <Element 'name' at 0x99402e8>,
 <Element 'localname' at 0x9940320>,
 <Element 'latitude' at 0x9940358>,
 <Element 'longitude' at 0x9940390>,
 <Element 'population' at 0x99403c8>,
 <Element 'population' at 0x9940400>,
 <Element 'population' at 0x9940438>,
 <Element 'population' at 0x9940470>,
 <Element 'located_at' at 0x99404a8>,
 <Element 'province' at 0x99404e0>,
 <Element 'name' at 0x9940518>,
 <Element 'localname' at 0x9940550>,
 <Element 'area' at 0x9940588>,
 <Element 'population' at 0x99405c0>,
 <Element 'population' at 0x99405f8>,
 <Element 'population' at 0x9940630>,
 <Element 'population' at 0x9940668>,
 <Element 'city' at 0x99406a0>,
 <Element 'name' at 0x99406d8>,
 <Element 'name' at 0x9940710>,
 <Element 'localname' at 0x9940748>,
 <Element 'population' at 0x9940780>,
 <Element 'population' at 0x99407b8>,
 <Element 'population' at 0x99407f0>,
 <Element 'population' at 0x9940828>,
 <Element 'located_at' at 0x9940860>,
 <Element 'located_on' at 0x9940898>,
 <Element 'city' at 0x99408d0>,
 <Element 'name' at 0x9940940>,
 <Element 'localname' at 0x9940978>,
 <Element 'population' at 0x99409b0>,
 <Element 'population' at 0x99409e8>,
 <Element 'population' at 0x9940a20>,
 <Element 'located_at' at 0x9940a58>,
 <Element 'located_on' at 0x9940a90>,
 <Element 'province' at 0x9940ac8>,
 <Element 'name' at 0x9940b38>,
 <Element 'localname' at 0x9940b70>,
 <Element 'area' at 0x9940ba8>,
 <Element 'population' at 0x9940be0>,
 <Element 'population' at 0x9940c18>,
 <Element 'population' at 0x9940c50>,
 <Element 'population' at 0x9940c88>,
 <Element 'city' at 0x9940cc0>,
 <Element 'name' at 0x9940d30>,
 <Element 'located_at' at 0x9940d68>,
 <Element 'located_on' at 0x9940da0>,
 <Element 'city' at 0x9940dd8>,
 <Element 'name' at 0x9940e48>,
 <Element 'name' at 0x9940e80>,
 <Element 'localname' at 0x9940eb8>,
 <Element 'population' at 0x9940ef0>,
 <Element 'population' at 0x9940f28>,
 <Element 'population' at 0x9940f60>,
 <Element 'located_at' at 0x9940f98>,
 <Element 'located_on' at 0x9940fd0>,
 <Element 'province' at 0x994e048>,
 <Element 'name' at 0x994e0b8>,
 <Element 'localname' at 0x994e0f0>,
 <Element 'area' at 0x994e128>,
 <Element 'population' at 0x994e160>,
 <Element 'population' at 0x994e198>,
 <Element 'population' at 0x994e1d0>,
 <Element 'city' at 0x994e208>,
 <Element 'name' at 0x994e278>,
 <Element 'province' at 0x994e2b0>,
 <Element 'name' at 0x994e320>,
 <Element 'localname' at 0x994e358>,
 <Element 'area' at 0x994e390>,
 <Element 'population' at 0x994e3c8>,
 <Element 'population' at 0x994e400>,
 <Element 'population' at 0x994e438>,
 <Element 'city' at 0x994e470>,
 <Element 'name' at 0x994e4e0>,
 <Element 'localname' at 0x994e518>,
 <Element 'population' at 0x994e550>,
 <Element 'city' at 0x994e588>,
 <Element 'name' at 0x994e5f8>,
 <Element 'name' at 0x994e630>,
 <Element 'localname' at 0x994e668>,
 <Element 'population' at 0x994e6a0>,
 <Element 'population' at 0x994e6d8>,
 <Element 'population' at 0x994e710>,
 <Element 'province' at 0x994e748>,
 <Element 'name' at 0x994e780>,
 <Element 'localname' at 0x994e7b8>,
 <Element 'area' at 0x994e7f0>,
 <Element 'population' at 0x994e828>,
 <Element 'population' at 0x994e860>,
 <Element 'population' at 0x994e898>,
 <Element 'population' at 0x994e8d0>,
 <Element 'city' at 0x994e908>,
 <Element 'name' at 0x994e940>,
 <Element 'localname' at 0x994e978>,
 <Element 'population' at 0x994e9b0>,
 <Element 'population' at 0x994e9e8>,
 <Element 'population' at 0x994ea20>,
 <Element 'population' at 0x994ea58>,
 <Element 'city' at 0x994ea90>,
 <Element 'name' at 0x994eac8>,
 <Element 'localname' at 0x994eb00>,
 <Element 'population' at 0x994eb38>,
 <Element 'population' at 0x994eb70>,
 <Element 'population' at 0x994eba8>,
 <Element 'population' at 0x994ebe0>,
 <Element 'located_at' at 0x994ec18>,
 <Element 'province' at 0x994ec50>,
 <Element 'name' at 0x994ecc0>,
 <Element 'localname' at 0x994ecf8>,
 <Element 'area' at 0x994ed30>,
 <Element 'population' at 0x994ed68>,
 <Element 'population' at 0x994eda0>,
 <Element 'population' at 0x994edd8>,
 <Element 'population' at 0x994ee10>,
 <Element 'city' at 0x994ee48>,
 <Element 'name' at 0x994eeb8>,
 <Element 'located_at' at 0x994eef0>,
 <Element 'located_on' at 0x994ef28>,
 <Element 'province' at 0x994ef60>,
 <Element 'name' at 0x994efd0>,
 <Element 'localname' at 0x995c048>,
 <Element 'area' at 0x995c0b8>,
 <Element 'population' at 0x995c0f0>,
 <Element 'population' at 0x995c128>,
 <Element 'population' at 0x995c160>,
 <Element 'city' at 0x995c198>,
 <Element 'name' at 0x995c208>,
 <Element 'population' at 0x995c240>]

## 1. 10 countries with the lowest infant mortality rates

In [4]:
# create dictionary for country:infant_mortality pairs
infant_mortality = {}

# search for 'infant_mortality' tag. if found, add country 'name' and 'infant_mortality' value to dictionary
for child in document_tree.getroot():
    if child.find('infant_mortality') != None:
        infant_mortality[child.find('name').text] = float(child.find('infant_mortality').text)

# import operator and use to slice list of lowest values from infant_mortality
import operator        
lowest_im = sorted(infant_mortality.items(), key=operator.itemgetter(1), reverse=False)[:10]

# create dataframe for countries with 10 lowest infant mortalities
df_lowest_im = pd.DataFrame(lowest_im)
df_lowest_im.columns = ['country', 'infant_mortality']
df_lowest_im

          country  infant_mortality
0          Monaco              1.81
1           Japan              2.13
2         Bermuda              2.48
3          Norway              2.48
4       Singapore              2.53
5          Sweden              2.60
6  Czech Republic              2.63
7       Hong Kong              2.73
8           Macao              3.13
9         Iceland              3.15

## 2. 10 cities with the largest population

In [16]:
# create dictionary for city:population pairs
population = {}

# search for subelement 'city' under every 'country' tag. If found, add city and population from the latest year to dictionary
for element in document_tree.iterfind('country'):
    for subelement in element.getiterator('city'):
        if subelement.find("population[last()]") != None:
            population[subelement.find('name').text] = float(subelement.find("population[last()]").text)

# import Counter and use to create dictionary of 10 highest populations
from collections import Counter           
largest_pop_dict = dict(Counter(population).most_common(10))

# create dataframe for cities with largest populations
largest_pop = pd.DataFrame.from_dict(largest_pop_dict, orient='index')
pd.options.display.float_format = '{:20,.0f}'.format
largest_pop.columns = ['population']
largest_pop

                    population
São Paulo           11,152,344
Guangzhou           11,071,424
Istanbul            13,710,512
Beijing             11,716,620
Tianjin             11,090,314
Shanghai            22,315,474
Delhi               11,034,555
Mumbai              12,442,373
Shenzhen            10,358,381
Moskva              11,979,529

## 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [17]:
# create dictionary called 'eth' to store ethnicity:population pairs
eth = {}

# search for 'ethnicgroup' tag under every country
for element in document_tree.iterfind('country'):
    for subelement in element.findall('ethnicgroup'):
        if element.find('ethnicgroup') != None:
            
            # if ethnic group is not in eth dictionary, add it to the dictionary with the population
            if element.find('ethnicgroup').text not in eth:
                eth[element.find('ethnicgroup').text] = float(element.find('ethnicgroup').attrib['percentage']) * .01 * int(element.find('population[last()]').text)
            
            # if ethnic group in dictionary, add population to existing population value in dictionary
            else:
                eth[element.find('ethnicgroup').text] = eth[element.find('ethnicgroup').text] + (float(element.find('ethnicgroup').attrib['percentage']) * .01 * int(element.find('population[last()]').text))

# create df_eth dataframe from eth dictionary. Format values to number with commas, 2 decimals
df_eth = pd.DataFrame.from_dict(eth, orient='index')
df_eth.columns = ['population']
pd.options.display.float_format = '{:20,.0f}'.format

# sort df_eth by population and show top 10 values
df_eth.sort_values('population', ascending=False).head(10)

                      population
European           1,481,990,318
Han Chinese        1,245,058,800
Dravidian            908,141,233
Russian              573,231,055
Viet/Kinh            532,548,627
Mestizo              524,233,585
Javanese             453,824,024
English              375,146,287
Ukrainian            355,029,696
Oromo                261,816,665

## 4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [7]:
#create dictionary of country codes to map country into each entry
car_codes = {}

for country in root.findall('country'):
    car_codes[country.get('car_code')] = country.find('name').text

## a) Longest River

In [8]:
# create empty list for rivers. List elements will be lists consisting of [name, length, area] for every river
riverslist = []

# for every river: find rivername, find riverlength, find rivercountry using element.find().text or element.get('attribute')
# append list of [rivername, riverlength, rivercountry] to riverslist
for river in root.findall('river'):
    rivername = river.find('name').text
    if river.find('length') is not None:
        riverlength = float(river.find('length').text)
    else:
        riverarea = np.NaN
    if river.find('located') is None:
        if river.get('country') is None:
            rivercountry = np.Nan
        else:
            rivercountry = river.get('country')
    else:
        rivercountry = river.find('located').attrib['country']
    riverslist.append([rivername, riverlength, rivercountry])

In [9]:
# create dataframe from riverslist and set column names.
df_rivers = pd.DataFrame(riverslist)
df_rivers.columns = ['name', 'length', 'car_code']

# map country names using car_code for every entry.
df_rivers['country'] = df_rivers['car_code'].map(car_codes)

# sort dataframe by length and show top 10 values.
df_rivers.sort_values('length', ascending=False).head(10)

         name               length car_code        country
174  Amazonas             6,448.00       CO       Colombia
137   Jangtse             6,380.00       CN          China
136   Hwangho             4,845.00       CN          China
123      Lena             4,400.00        R         Russia
205     Zaire             4,374.00      ZRE          Zaire
138    Mekong             4,350.00       CN          China
115   Irtysch             4,248.00        R         Russia
186     Niger             4,184.00      RMM           Mali
160  Missouri             4,130.00      USA  United States
119  Jenissej             4,092.00        R         Russia

## b) Largest Lake

In [10]:
# create empty list for lakes. List elements will be lists of [name, area, country].
lakeslist = []

# for every lake: find the name, area, and country. Append [name, area, country] to lakes list.
for lake in root.findall('lake'):
    lakename = lake.find('name').text
    if lake.find('area') is not None:
        lakearea = float(lake.find('area').text)
    else:
        lakearea = np.NaN
    if lake.find('located') is None:
        if lake.get('country') is None:
            lakecountry = np.Nan
        else:
            lakecountry = lake.get('country')
    else:
        lakecountry = lake.find('located').attrib['country']
    lakeslist.append([lakename, lakearea, lakecountry])

In [11]:
# create dataframe from lakeslist and set column titles.
df_lakes = pd.DataFrame(lakeslist)
df_lakes.columns = ['name', 'area', 'car_code']

# map country using car_codes.
df_lakes['country'] = df_lakes['car_code'].map(car_codes)

# sort dataframe by 'area' column and show top 10 values.
df_lakes.sort_values('area', ascending=False).head(10)

                name                 area car_code        country
54       Caspian Sea           386,400.00        R         Russia
109    Lake Superior            82,103.00      CDN         Canada
81     Lake Victoria            68,870.00      EAT       Tanzania
106       Lake Huron            59,600.00      CDN         Canada
108    Lake Michigan            57,800.00      USA  United States
47          Dead Sea            41,650.00       IL         Israel
83   Lake Tanganjika            32,893.00      ZRE          Zaire
98   Great Bear Lake            31,792.00      CDN         Canada
43      Ozero Baikal            31,492.00        R         Russia
89       Lake Malawi            29,600.00      MOC     Mozambique

## c) Airport at Highest Elevation

In [12]:
# create empty list for airports. List elements will be [name, elevation, country] for each airport.
airportslist = []

# for every airport: find name, elevation, and country. Append [name, elevation, country] to airportslist.
for airport in root.findall('airport'):
    airportname = airport.find('name').text
    if airport.find('elevation').text is not None:
        airportelevation = float(airport.find('elevation').text)
    else:
        airportelevation = np.NaN
    airportcountry = airport.get('country')
    airportslist.append([airportname, airportelevation, airportcountry])

In [13]:
# create dataframe from airportslist and set column names. 
df_airports = pd.DataFrame(airportslist)
df_airports.columns = ['name', 'elevation', 'car_code']

# map country names using car_codes dictionary.
df_airports['country'] = df_airports['car_code'].map(car_codes)

# sort dataframe by 'elevation' column and show top 10 values.
df_airports.sort_values('elevation', ascending=False).head(10)

,name,elevation,car_code,country
80,El Alto Intl,"4,063.00",BOL,Bolivia
219,Lhasa-Gonggar,"4,005.00",CN,China
241,Yushu Batang,"3,963.00",CN,China
813,Juliaca,"3,827.00",PE,Peru
815,Teniente Alejandro Velasco Astete Intl,"3,311.00",PE,Peru
82,Juana Azurduy De Padilla,"2,905.00",BOL,Bolivia
334,Mariscal Sucre Intl,"2,813.00",EC,Ecuador
805,Coronel Fap Alfredo Mendivil Duarte,"2,719.00",PE,Peru
807,Mayor General FAP Armando Revoredo Iglesias Ai...,"2,677.00",PE,Peru
692,Licenciado Adolfo Lopez Mateos Intl,"2,581.00",MEX,Mexico