# XML Mini-Project

In [1]:
# import ElementTree as ET
# import pandas as pd
# import numpy as np

from xml.etree import ElementTree as ET
import pandas as pd
import numpy as np

In [2]:
# read in xml file using ET.parse()

document_tree = ET.parse('./data/mondial_database.xml')
root = document_tree.getroot()

In [3]:
# examine all elements in one root element of the tree

list(root[1].iter())

[<Element 'country' at 0x0000000009707098>,
 <Element 'name' at 0x00000000097070E8>,
 <Element 'localname' at 0x0000000009707138>,
 <Element 'population' at 0x0000000009707188>,
 <Element 'population' at 0x00000000097071D8>,
 <Element 'population' at 0x0000000009707228>,
 <Element 'population' at 0x0000000009707278>,
 <Element 'population' at 0x00000000097072C8>,
 <Element 'population' at 0x0000000009707318>,
 <Element 'population' at 0x0000000009707368>,
 <Element 'population' at 0x00000000097073B8>,
 <Element 'population' at 0x0000000009707408>,
 <Element 'population' at 0x0000000009707458>,
 <Element 'population' at 0x00000000097074A8>,
 <Element 'population' at 0x00000000097074F8>,
 <Element 'population' at 0x0000000009707548>,
 <Element 'population' at 0x0000000009707598>,
 <Element 'population' at 0x00000000097075E8>,
 <Element 'population_growth' at 0x0000000009707638>,
 <Element 'infant_mortality' at 0x0000000009707688>,
 <Element 'gdp_total' at 0x00000000097076D8>,
 <Element 'gdp_agri' at 0x0000000009707728>,
 <Element 'gdp_ind' at 0x0000000009707778>,
 <Element 'gdp_serv' at 0x00000000097077C8>,
 <Element 'inflation' at 0x0000000009707818>,
 <Element 'unemployment' at 0x0000000009707868>,
 <Element 'indep_date' at 0x00000000097078B8>,
 <Element 'government' at 0x0000000009707908>,
 <Element 'encompassed' at 0x0000000009707958>,
 <Element 'ethnicgroup' at 0x00000000097079A8>,
 <Element 'religion' at 0x00000000097079F8>,
 <Element 'religion' at 0x0000000009707A48>,
 <Element 'language' at 0x0000000009707A98>,
 <Element 'border' at 0x0000000009707AE8>,
 <Element 'border' at 0x0000000009707B38>,
 <Element 'border' at 0x0000000009707B88>,
 <Element 'border' at 0x0000000009707BD8>,
 <Element 'province' at 0x0000000009707C28>,
 <Element 'name' at 0x0000000009707C78>,
 <Element 'localname' at 0x0000000009707CC8>,
 <Element 'area' at 0x0000000009707D18>,
 <Element 'population' at 0x0000000009707D68>,
 <Element 'population' at 0x0000000009707DB8>,
 <Element 'population' at 0x0000000009707E08>,
 <Element 'population' at 0x0000000009707E58>,
 <Element 'city' at 0x0000000009707EA8>,
 <Element 'name' at 0x0000000009707EF8>,
 <Element 'city' at 0x0000000009707F48>,
 <Element 'name' at 0x0000000009707F98>,
 <Element 'population' at 0x000000000970E048>,
 <Element 'population' at 0x000000000970E098>,
 <Element 'population' at 0x000000000970E0E8>,
 <Element 'population' at 0x000000000970E138>,
 <Element 'located_at' at 0x000000000970E188>,
 <Element 'province' at 0x000000000970E1D8>,
 <Element 'name' at 0x000000000970E228>,
 <Element 'localname' at 0x000000000970E278>,
 <Element 'area' at 0x000000000970E2C8>,
 <Element 'population' at 0x000000000970E318>,
 <Element 'population' at 0x000000000970E368>,
 <Element 'population' at 0x000000000970E3B8>,
 <Element 'population' at 0x000000000970E408>,
 <Element 'city' at 0x000000000970E458>,
 <Element 'name' at 0x000000000970E4A8>,
 <Element 'localname' at 0x000000000970E4F8>,
 <Element 'latitude' at 0x000000000970E548>,
 <Element 'longitude' at 0x000000000970E598>,
 <Element 'population' at 0x000000000970E5E8>,
 <Element 'population' at 0x000000000970E638>,
 <Element 'population' at 0x000000000970E688>,
 <Element 'population' at 0x000000000970E6D8>,
 <Element 'located_at' at 0x000000000970E728>,
 <Element 'city' at 0x000000000970E778>,
 <Element 'name' at 0x000000000970E7C8>,
 <Element 'name' at 0x000000000970E818>,
 <Element 'localname' at 0x000000000970E8B8>,
 <Element 'population' at 0x000000000970E908>,
 <Element 'population' at 0x000000000970E958>,
 <Element 'population' at 0x000000000970E9A8>,
 <Element 'population' at 0x000000000970E9F8>,
 <Element 'located_at' at 0x000000000970EA48>,
 <Element 'city' at 0x000000000970EA98>,
 <Element 'name' at 0x000000000970EAE8>,
 <Element 'localname' at 0x000000000970EB38>,
 <Element 'population' at 0x000000000970EB88>,
 <Element 'population' at 0x000000000970EBD8>,
 <Element 'population' at 0x000000000970EC28>,
 <Element 'city' at 0x000000000970EC78>,
 <Element 'name' at 0x000000000970ECC8>,
 <Element 'localname' at 0x000000000970ED18>,
 <Element 'population' at 0x000000000970ED68>,
 <Element 'population' at 0x000000000970EDB8>,
 <Element 'population' at 0x000000000970EE08>,
 <Element 'province' at 0x000000000970EE58>,
 <Element 'name' at 0x000000000970EEA8>,
 <Element 'localname' at 0x000000000970EEF8>,
 <Element 'area' at 0x000000000970EF48>,
 <Element 'population' at 0x000000000970EF98>,
 <Element 'population' at 0x0000000009716048>,
 <Element 'population' at 0x0000000009716098>,
 <Element 'population' at 0x00000000097160E8>,
 <Element 'city' at 0x0000000009716138>,
 <Element 'name' at 0x0000000009716188>,
 <Element 'name' at 0x00000000097161D8>,
 <Element 'localname' at 0x0000000009716228>,
 <Element 'population' at 0x0000000009716278>,
 <Element 'population' at 0x00000000097162C8>,
 <Element 'population' at 0x0000000009716318>,
 <Element 'population' at 0x0000000009716368>,
 <Element 'located_at' at 0x00000000097163B8>,
 <Element 'province' at 0x0000000009716408>,
 <Element 'name' at 0x0000000009716458>,
 <Element 'localname' at 0x00000000097164A8>,
 <Element 'area' at 0x00000000097164F8>,
 <Element 'population' at 0x0000000009716548>,
 <Element 'population' at 0x0000000009716598>,
 <Element 'population' at 0x00000000097165E8>,
 <Element 'population' at 0x0000000009716638>,
 <Element 'city' at 0x0000000009716688>,
 <Element 'name' at 0x00000000097166D8>,
 <Element 'province' at 0x0000000009716728>,
 <Element 'name' at 0x0000000009716778>,
 <Element 'localname' at 0x00000000097167C8>,
 <Element 'area' at 0x0000000009716818>,
 <Element 'population' at 0x0000000009716868>,
 <Element 'population' at 0x00000000097168B8>,
 <Element 'population' at 0x0000000009716908>,
 <Element 'population' at 0x0000000009716958>,
 <Element 'city' at 0x00000000097169A8>,
 <Element 'name' at 0x00000000097169F8>,
 <Element 'name' at 0x0000000009716A48>,
 <Element 'localname' at 0x0000000009716A98>,
 <Element 'population' at 0x0000000009716AE8>,
 <Element 'population' at 0x0000000009716B38>,
 <Element 'population' at 0x0000000009716B88>,
 <Element 'located_at' at 0x0000000009716BD8>,
 <Element 'located_on' at 0x0000000009716C28>,
 <Element 'province' at 0x0000000009716C78>,
 <Element 'name' at 0x0000000009716CC8>,
 <Element 'localname' at 0x0000000009716D18>,
 <Element 'area' at 0x0000000009716D68>,
 <Element 'population' at 0x0000000009716DB8>,
 <Element 'population' at 0x0000000009716E08>,
 <Element 'population' at 0x0000000009716E58>,
 <Element 'city' at 0x0000000009716EA8>,
 <Element 'name' at 0x0000000009716EF8>,
 <Element 'localname' at 0x0000000009716F48>,
 <Element 'population' at 0x0000000009716F98>,
 <Element 'population' at 0x000000000971D048>,
 <Element 'population' at 0x000000000971D098>,
 <Element 'province' at 0x000000000971D0E8>,
 <Element 'name' at 0x000000000971D138>,
 <Element 'localname' at 0x000000000971D188>,
 <Element 'area' at 0x000000000971D1D8>,
 <Element 'population' at 0x000000000971D228>,
 <Element 'population' at 0x000000000971D278>,
 <Element 'population' at 0x000000000971D2C8>,
 <Element 'population' at 0x000000000971D318>,
 <Element 'city' at 0x000000000971D368>,
 <Element 'name' at 0x000000000971D3B8>,
 <Element 'localname' at 0x000000000971D408>,
 <Element 'latitude' at 0x000000000971D458>,
 <Element 'longitude' at 0x000000000971D4A8>,
 <Element 'population' at 0x000000000971D4F8>,
 <Element 'population' at 0x000000000971D548>,
 <Element 'population' at 0x000000000971D598>,
 <Element 'population' at 0x000000000971D5E8>,
 <Element 'located_at' at 0x000000000971D638>,
 <Element 'province' at 0x000000000971D688>,
 <Element 'name' at 0x000000000971D6D8>,
 <Element 'localname' at 0x000000000971D728>,
 <Element 'area' at 0x000000000971D778>,
 <Element 'population' at 0x000000000971D7C8>,
 <Element 'population' at 0x000000000971D818>,
 <Element 'population' at 0x000000000971D868>,
 <Element 'population' at 0x000000000971D8B8>,
 <Element 'city' at 0x000000000971D908>,
 <Element 'name' at 0x000000000971D958>,
 <Element 'name' at 0x000000000971D9A8>,
 <Element 'localname' at 0x000000000971D9F8>,
 <Element 'population' at 0x000000000971DA48>,
 <Element 'population' at 0x000000000971DA98>,
 <Element 'population' at 0x000000000971DAE8>,
 <Element 'population' at 0x000000000971DB38>,
 <Element 'located_at' at 0x000000000971DB88>,
 <Element 'located_on' at 0x000000000971DBD8>,
 <Element 'city' at 0x000000000971DC28>,
 <Element 'name' at 0x000000000971DC78>,
 <Element 'localname' at 0x000000000971DCC8>,
 <Element 'population' at 0x000000000971DD18>,
 <Element 'population' at 0x000000000971DD68>,
 <Element 'population' at 0x000000000971DDB8>,
 <Element 'located_at' at 0x000000000971DE08>,
 <Element 'located_on' at 0x000000000971DE58>,
 <Element 'province' at 0x000000000971DEA8>,
 <Element 'name' at 0x000000000971DEF8>,
 <Element 'localname' at 0x000000000971DF48>,
 <Element 'area' at 0x000000000971DF98>,
 <Element 'population' at 0x0000000009733048>,
 <Element 'population' at 0x0000000009733098>,
 <Element 'population' at 0x00000000097330E8>,
 <Element 'population' at 0x0000000009733138>,
 <Element 'city' at 0x0000000009733188>,
 <Element 'name' at 0x00000000097331D8>,
 <Element 'located_at' at 0x0000000009733228>,
 <Element 'located_on' at 0x0000000009733278>,
 <Element 'city' at 0x00000000097332C8>,
 <Element 'name' at 0x0000000009733318>,
 <Element 'name' at 0x0000000009733368>,
 <Element 'localname' at 0x00000000097333B8>,
 <Element 'population' at 0x0000000009733408>,
 <Element 'population' at 0x0000000009733458>,
 <Element 'population' at 0x00000000097334A8>,
 <Element 'located_at' at 0x00000000097334F8>,
 <Element 'located_on' at 0x0000000009733548>,
 <Element 'province' at 0x0000000009733598>,
 <Element 'name' at 0x00000000097335E8>,
 <Element 'localname' at 0x0000000009733638>,
 <Element 'area' at 0x0000000009733688>,
 <Element 'population' at 0x00000000097336D8>,
 <Element 'population' at 0x0000000009733728>,
 <Element 'population' at 0x0000000009733778>,
 <Element 'city' at 0x00000000097337C8>,
 <Element 'name' at 0x0000000009733818>,
 <Element 'province' at 0x0000000009733868>,
 <Element 'name' at 0x00000000097338B8>,
 <Element 'localname' at 0x0000000009733908>,
 <Element 'area' at 0x0000000009733958>,
 <Element 'population' at 0x00000000097339A8>,
 <Element 'population' at 0x00000000097339F8>,
 <Element 'population' at 0x0000000009733A48>,
 <Element 'city' at 0x0000000009733A98>,
 <Element 'name' at 0x0000000009733AE8>,
 <Element 'localname' at 0x0000000009733B38>,
 <Element 'population' at 0x0000000009733B88>,
 <Element 'city' at 0x0000000009733BD8>,
 <Element 'name' at 0x0000000009733C28>,
 <Element 'name' at 0x0000000009733C78>,
 <Element 'localname' at 0x0000000009733CC8>,
 <Element 'population' at 0x0000000009733D18>,
 <Element 'population' at 0x0000000009733D68>,
 <Element 'population' at 0x0000000009733DB8>,
 <Element 'province' at 0x0000000009733E08>,
 <Element 'name' at 0x0000000009733E58>,
 <Element 'localname' at 0x0000000009733EA8>,
 <Element 'area' at 0x0000000009733EF8>,
 <Element 'population' at 0x0000000009733F48>,
 <Element 'population' at 0x0000000009733F98>,
 <Element 'population' at 0x000000000973D048>,
 <Element 'population' at 0x000000000973D098>,
 <Element 'city' at 0x000000000973D0E8>,
 <Element 'name' at 0x000000000973D138>,
 <Element 'localname' at 0x000000000973D188>,
 <Element 'population' at 0x000000000973D1D8>,
 <Element 'population' at 0x000000000973D228>,
 <Element 'population' at 0x000000000973D278>,
 <Element 'population' at 0x000000000973D2C8>,
 <Element 'city' at 0x000000000973D318>,
 <Element 'name' at 0x000000000973D368>,
 <Element 'localname' at 0x000000000973D3B8>,
 <Element 'population' at 0x000000000973D408>,
 <Element 'population' at 0x000000000973D458>,
 <Element 'population' at 0x000000000973D4A8>,
 <Element 'population' at 0x000000000973D4F8>,
 <Element 'located_at' at 0x000000000973D548>,
 <Element 'province' at 0x000000000973D598>,
 <Element 'name' at 0x000000000973D5E8>,
 <Element 'localname' at 0x000000000973D638>,
 <Element 'area' at 0x000000000973D688>,
 <Element 'population' at 0x000000000973D6D8>,
 <Element 'population' at 0x000000000973D728>,
 <Element 'population' at 0x000000000973D778>,
 <Element 'population' at 0x000000000973D7C8>,
 <Element 'city' at 0x000000000973D818>,
 <Element 'name' at 0x000000000973D868>,
 <Element 'located_at' at 0x000000000973D8B8>,
 <Element 'located_on' at 0x000000000973D908>,
 <Element 'province' at 0x000000000973D958>,
 <Element 'name' at 0x000000000973D9A8>,
 <Element 'localname' at 0x000000000973D9F8>,
 <Element 'area' at 0x000000000973DA48>,
 <Element 'population' at 0x000000000973DA98>,
 <Element 'population' at 0x000000000973DAE8>,
 <Element 'population' at 0x000000000973DB38>,
 <Element 'city' at 0x000000000973DB88>,
 <Element 'name' at 0x000000000973DBD8>,
 <Element 'population' at 0x000000000973DC28>]

## 1. 10 countries with the lowest infant mortality rates

In [4]:
# create dictionary for country:infant_mortality pairs
infant_mortality = {}

# search for 'infant_mortality' tag. if found, add country 'name' and 'infant_mortality' value to dictionary
for child in document_tree.getroot():
    if child.find('infant_mortality') != None:
        infant_mortality[child.find('name').text] = float(child.find('infant_mortality').text)

# import operator and use to slice list of lowest values from infant_mortality
import operator        
lowest_im = sorted(infant_mortality.items(), key=operator.itemgetter(1), reverse=False)[:10]

# create dataframe for countries with 10 lowest infant mortalities
df_lowest_im = pd.DataFrame(lowest_im)
df_lowest_im.columns = ['country', 'infant_mortality']
df_lowest_im

          country  infant_mortality
0          Monaco              1.81
1           Japan              2.13
2          Norway              2.48
3         Bermuda              2.48
4       Singapore              2.53
5          Sweden              2.60
6  Czech Republic              2.63
7       Hong Kong              2.73
8           Macao              3.13
9         Iceland              3.15

## 2. 10 cities with the largest population

In [5]:
# create dictionary for city:population pairs
population = {}

# search for subelement 'city' under every 'country' tag. If found, add city and population from the latest year to dictionary
for element in document_tree.iterfind('country'):
    for subelement in element.getiterator('city'):
        if subelement.find("population[last()]") != None:
            population[subelement.find('name').text] = float(subelement.find("population[last()]").text)

# import Counter and use to create dictionary of 10 highest populations
from collections import Counter           
largest_pop_dict = dict(Counter(population).most_common(10))

# create dataframe for cities with largest populations
largest_pop = pd.DataFrame.from_dict(largest_pop_dict, orient='index')
pd.options.display.float_format = '{:20,.0f}'.format
largest_pop.columns = ['population']
largest_pop

                    population
Shanghai            22,315,474
Istanbul            13,710,512
Mumbai              12,442,373
Moskva              11,979,529
Beijing             11,716,620
São Paulo           11,152,344
Tianjin             11,090,314
Guangzhou           11,071,424
Delhi               11,034,555
Shenzhen            10,358,381

## 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [6]:
# create dictionary called 'eth' to store ethnicity:population pairs
eth = {}

# search for 'ethnicgroup' tag under every country
for element in document_tree.iterfind('country'):
    for subelement in element.findall('ethnicgroup'):
        if element.find('ethnicgroup') != None:
            
            # if ethnic group is not in eth dictionary, add it to the dictionary with the population
            if element.find('ethnicgroup').text not in eth:
                #eth[element.find('ethnicgroup').text] = float(element.find('ethnicgroup').attrib['percentage']) * .01 * int(element.find('population[last()]').text)
                eth[element.find('ethnicgroup').text] = float(element.find('ethnicgroup').attrib['percentage']) * .01 * int(element.find('population[last()]').text)
            # if ethnic group in dictionary, add population to existing population value in dictionary
            else:
                eth[element.find('ethnicgroup').text] = eth[element.find('ethnicgroup').text] + (float(element.find('ethnicgroup').attrib['percentage']) * .01 * int(element.find('population[last()]').text))

# create df_eth dataframe from eth dictionary. Format values to number with commas, 2 decimals
df_eth = pd.DataFrame.from_dict(eth, orient='index')
df_eth.columns = ['population']
#pd.options.display.float_format = '{:20,.0f}'.format
df_eth

# sort df_eth by population and show top 10 values
#df_eth.sort_values('population', ascending=False).head(10)

                               population
Albanian                        8,510,587
Greek                          11,353,373
Macedonian                      6,611,939
Serb                           35,418,193
Montenegrin                     1,066,450
Spanish                           167,947
Mediterranean Nordic           46,815,916
Austrian                       46,459,683
Czech                          66,837,690
German                        169,968,839
Hungarian                      55,034,584
Italian                           128,769
Slovak                         37,002,079
Slovene                         7,494,108
Belorussian                    30,728,328
Latvian                         7,831,855
Lithuanian                     10,010,482
Ukrainian                     355,029,696
Russian                       573,231,055
Fleming                        12,875,483
Luxembourgish                   1,655,911
Dutch                          81,554,682
Muslim                          5,459,936
Croat                          19,221,942
Bulgarian                      33,610,923
Romanian                      125,498,675
Turkish                       191,806,171
Estonian                        4,446,453
Scandinavian                       48,197
Finn                           20,380,134
...                                   ...
Micronesian                       156,216
Vietnamese                         17,191
Asian                             467,273
Bounty                                 66
Europeans                           2,254
Quechua                        12,032,714
Amerindian                     41,692,453
East Indian                       975,989
Hindustani                      1,402,842
Christian                           3,939
Berber Arab                     5,859,394
Mande                          34,964,902
Maur                            2,122,421
Fula                            8,740,741
Mangbetu-Azande                27,986,022
Mossi                           4,157,471
Batswana                        3,872,633
Malinke                        19,541,460
Hutu                           25,238,335
Bantu                          42,682,477
Baya                            8,873,839
Tigrinya                       18,945,825
Oromo                         261,816,665
Somali                          8,190,747
Fulani                         16,075,371
Rwanda                         25,096,905
Sotho                           2,002,894
Creole                          1,336,058
African descent                     8,494
Seychellois                        90,945

[107 rows x 1 columns]

## 4. name of a) longest river, b) largest lake and c) airport at highest elevation

In [7]:
#create dictionary of country codes to map country into each entry
car_codes = {}

for country in root.findall('country'):
    car_codes[country.get('car_code')] = country.find('name').text

## a) Longest River

In [8]:
# create empty list for rivers. List elements will be lists consisting of [name, length, area] for every river
riverslist = []

# for every river: find rivername, find riverlength, find rivercountry using element.find().text or element.get('attribute')
# append list of [rivername, riverlength, rivercountry] to riverslist
for river in root.findall('river'):
    rivername = river.find('name').text
    if river.find('length') is not None:
        riverlength = float(river.find('length').text)
    else:
        riverarea = np.NaN
    if river.get('country') is not None:
        rivercountry = river.get('country')
    else:
        rivercountry = np.Nan
    riverslist.append([rivername, riverlength, rivercountry])

In [9]:
# create dataframe from riverslist and set column names.
df_rivers = pd.DataFrame(riverslist)
df_rivers.columns = ['name', 'length', 'car_code']

# sort dataframe by length and show top 10 values.
df_rivers.sort_values('length', ascending=False).head(10)

         name               length         car_code
174  Amazonas                6,448         CO BR PE
137   Jangtse                6,380               CN
136   Hwangho                4,845               CN
123      Lena                4,400                R
205     Zaire                4,374          RCB ZRE
138    Mekong                4,350  CN LAO THA K VN
115   Irtysch                4,248         R KAZ CN
186     Niger                4,184    RMM RN WAN RG
160  Missouri                4,130              USA
119  Jenissej                4,092                R

### b) Largest Lake

In [10]:
# create empty list for lakes. List elements will be lists of [name, area, country].
lakeslist = []

# for every lake: find the name, area, and country. Append [name, area, country] to lakes list.
for lake in root.findall('lake'):
    lakename = lake.find('name').text
    if lake.find('area') is not None:
        lakearea = float(lake.find('area').text)
    else:
        lakearea = np.NaN
    if lake.find('located') is None:
        if lake.get('country') is None:
            lakecountry = np.Nan
        else:
            lakecountry = lake.get('country')
    else:
        lakecountry = lake.find('located').attrib['country']
    lakeslist.append([lakename, lakearea, lakecountry])

In [11]:
# create dataframe from lakeslist and set column titles.
df_lakes = pd.DataFrame(lakeslist)
df_lakes.columns = ['name', 'area', 'car_code']

# map country using car_codes.
df_lakes['country'] = df_lakes['car_code'].map(car_codes)

# sort dataframe by 'area' column and show top 10 values.
df_lakes.sort_values('area', ascending=False).head(10)

                name                 area car_code        country
54       Caspian Sea              386,400        R         Russia
109    Lake Superior               82,103      CDN         Canada
81     Lake Victoria               68,870      EAT       Tanzania
106       Lake Huron               59,600      CDN         Canada
108    Lake Michigan               57,800      USA  United States
47          Dead Sea               41,650       IL         Israel
83   Lake Tanganjika               32,893      ZRE          Zaire
98   Great Bear Lake               31,792      CDN         Canada
43      Ozero Baikal               31,492        R         Russia
89       Lake Malawi               29,600      MOC     Mozambique

## c) Airport at Highest Elevation

In [12]:
# create empty list for airports. List elements will be [name, elevation, country] for each airport.
airportslist = []

# for every airport: find name, elevation, and country. Append [name, elevation, country] to airportslist.
for airport in root.findall('airport'):
    airportname = airport.find('name').text
    if airport.find('elevation').text is not None:
        airportelevation = float(airport.find('elevation').text)
    else:
        airportelevation = np.NaN
    airportcountry = airport.get('country')
    airportslist.append([airportname, airportelevation, airportcountry])

In [13]:
# create dataframe from airportslist and set column names. 
df_airports = pd.DataFrame(airportslist)
df_airports.columns = ['name', 'elevation', 'car_code']

# map country names using car_codes dictionary.
df_airports['country'] = df_airports['car_code'].map(car_codes)

# sort dataframe by 'elevation' column and show top 10 values.
df_airports.sort_values('elevation', ascending=False).head(10)

,name,elevation,car_code,country
80,El Alto Intl,"4,063",BOL,Bolivia
219,Lhasa-Gonggar,"4,005",CN,China
241,Yushu Batang,"3,963",CN,China
813,Juliaca,"3,827",PE,Peru
815,Teniente Alejandro Velasco Astete Intl,"3,311",PE,Peru
82,Juana Azurduy De Padilla,"2,905",BOL,Bolivia
334,Mariscal Sucre Intl,"2,813",EC,Ecuador
805,Coronel Fap Alfredo Mendivil Duarte,"2,719",PE,Peru
807,Mayor General FAP Armando Revoredo Iglesias Ai...,"2,677",PE,Peru
692,Licenciado Adolfo Lopez Mateos Intl,"2,581",MEX,Mexico